[class^="DatePicker_dateLabel"] {
    font-size: 14px; 
}

[class^="DatePicker_monthYearLabel"] {
    display: none;
}
[class^="DatePicker_button"] {
    margin-bottom: 5px ;
}
/*
.DatePicker_dateLabel__\+eSJ3 {
   font-size: 14px;
}
.DatePicker_button__fNY6A{
    margin-bottom: 10px;
}
.DatePicker_monthYearLabel__g7m1j{
    display: none;
}
*/