.fc-event-time{
    display: none;
}
/* Title */
.fc-toolbar-title{
    font-size: 12px;
}
.fc-header-toolbar{
    border-Top: 1px solid #e0e0e0;
     border-Left: 1px solid #e0e0e0; 
     border-right: 1px solid #e0e0e0;
      padding: 5px 15px;
    margin-bottom: 0px !important;
}
.fc-button{
    padding: 8px;
}